.container {
  border: 2px solid #61DAFB;
  background-color: #222222;
  border-radius: 15px;
  color: #F2F2F2;
}
.card-img-top {
  margin: 0 auto;
  padding-top: 10px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}
.card {
  width: 300px;
  border: 2px solid #61DAFB;
  background-color: #222222;
}
p, h1 {
  color: #F2F2F2
}
.img {
  width: 100%;
}